{% extends "./base.html" %} {% block content %}
<div class="container col-md-8 col-xl-6 my-4 p-4 border shadow ">
  <img src = "{{post.image.url}}" class = "card-img-top m-0" / >
  <div class="border-0 p-0 d-flex">
    <div class="col-9">
      <p class="mb-1">
        <h4 class="m-0"> {{post.author}}</h4> {{post.description}}
      </p>
    </div>
    
    <div id="{{ post.identifier }}"class='d-flex justify-content-end col-3 p-0'>
      <a
        type="button"
        data-post="{{post.identifier}}"
        class="fs-5 text-reset like-button"
        >
        {% if user in post.likes.all %}
        <i class="fas fa-heart text-danger"></i>
        {% else%}
        <i class="far fa-heart"></i>
        {% endif %}
      </a>
      <p class="fw-bold fs-5 px-1">{{post.likes.all | length}}</p>
      <p class="fw-bold fs-5 col-md-auto">Me gusta</p>

    </div>
  </div>

  <hr class="mt-0"/>

  <div class="mb-1 row comment-div border-0">
    {% for comment in post.get_comments %}
    <p class="mb-0">
      <strong>{{ comment.user }}</strong> {{ comment.body }}
    </p>
    {% endfor %}
  </div>

  <hr clas='border-0'/>
  <form class="row" id="comment_form">
    <div class="d-flex justify-content-center">
      <img
        src="{{user.profile_pic.url}}"
        class="mx-2 rounded-circle my-auto"
        height="20"
        width="20"
        alt=""
        loading="lazy"
      />
      <input
        id="comment{{post.identifier}}"
        class="form-control  my-auto mx-2"
        placeholder="Añadir un comentario..."
      />
      <div>
        <button
          class="btn btn-primary btn-sm my-auto btn-block border comment-button"
          data-post="{{post.identifier}}"
          type="submit"
        >
          Publicar
        </button>
      </div>
    </div>
  </form>
  <hr />
  <div class="card-footer border-0 py-0">
    <p class="card-text"><small class="text-muted"> {{post.published}} </small></p>
  </div>
</div>


